<ng-container *ngIf="isLoading">
  <main class="bg-[#2a272a] h-screen relative pt-40">
    <div class="flex relative z-0 items-center justify-center">
      <h1 class="text-[#F1F0EA] text-6xl font-bold uppercase">
        Loading Details...
      </h1>
    </div>
  </main>
</ng-container>
<ng-container *ngIf="!isLoading">
  <main class="bg-[#2a272a] relative pt-40">
    <img
      alt="{{ game_slug }}"
      src="{{ game_details.background_image }}"
      class="object-center h-[60vh] w-[80vw] mx-auto aspect-video rounded-xl"
    />
    <div class="flex relative z-0 items-center justify-center pt-10">
      <h1 class="text-white text-6xl font-bold uppercase">
        {{ game_details.name_original }}
      </h1>
    </div>
    <app-game-details-ratings
      [metaScore]="metaScore"
      [metacritic]="game_details.metacritic"
      [ratings]="game_details.ratings"
      [metacriticPlatforms]="game_details.metacritic_platforms"
    >
    </app-game-details-ratings>
    <app-game-details-description
      [description]="game_details.description_raw"
      [released]="game_details.released"
      [playtime]="game_details.playtime"
      [website]="game_details.website"
      [redditWebsite]="game_details.reddit_url"
      [metacriticWebsite]="game_details.metacritic_url"
      [achievements]="game_details.parent_achievements_count"
    >
    </app-game-details-description>
    <app-game-details-requirements [platforms]="game_details.platforms">
    </app-game-details-requirements>
  </main>
</ng-container>
<router-outlet></router-outlet>
