<div class="fixed z-10 w-full bg-black shadow-sm">
  <div class="border-b-[1px] border-gray-400 p-3 md:p-0 lg:p-0">
    <div class="relative max-w-[2520px] mx-auto xl:px-20 md:px-10 sm:px-2 px-4">
      <div
        class="flex flex-col md:flex-row lg:flex-row items-center justify-between gap-3 p-5 md:gap-0 lg:gap-0"
      >
        <a href='/' class="text-3xl text-white font-semibold">Navbar</a>
        <a href='/games?page=1' class='text-white'>Games</a>
        <a class='text-white'>Item 2</a>
        <a class='text-white'>Item 3</a>
        <a class='text-white'>Item 4</a>
      </div>
    </div>
  </div>
</div>
