<div class="flex justify-center my-10 gap-8">
  <input
    type="text"
    [formControl]="searchGame"
    placeholder="Search a Game"
    class="p-2 text-black text-lg w-[500px]"
  />
  <button
    (click)="setSearchValue()"
    class="bg-[#00c9c9] p-2 text-lg font-bold text-white"
  >
    Search
  </button>
</div>
<div class="flex flex-col items-center gap-5">
  <form class="flex flex-row justify-center gap-8" [formGroup]="filterForm" (ngSubmit)="setFilters()">
    <select class="w-[200px] p-2 bg-black text-white" (change)="setGenre($event)" formControlName="sortByGenre">
      <option value="" selected disabled hidden>Select a genre...</option>
      <ng-container *ngIf="isLoadingGenres">
        <option disabled class="text-white text-lg">Loading...</option>
      </ng-container>
      <ng-container *ngIf="!isLoadingGenres">
          <ng-container *ngFor="let genre of listGenres.results">
            <option [value]="genre.id" class="text-white">{{ genre.name }}</option>
          </ng-container>
      </ng-container>
    </select>
    <select class="w-[200px] p-2 bg-black text-white" (change)="setPlatform($event)" formControlName="sortByPlatform">
      <option value="" selected disabled hidden>Select a platform...</option>
      <ng-container *ngIf="isLoadingPlatforms">
        <option disabled class="text-white text-lg">Loading...</option>
      </ng-container>
      <ng-container *ngIf="!isLoadingPlatforms">
          <ng-container *ngFor="let platform of listPlatforms.results">
            <option [value]="platform.id" class="text-white">{{ platform.name }}</option>
          </ng-container>
      </ng-container>
    </select>
    <div class="flex flex-row justify-center gap-5">
      <button type="submit" class="bg-[#00c9c9] p-2 text-lg font-bold text-white">Apply filters</button>
    </div>
  </form>
  <button class="bg-[#00c9c9] p-2 text-lg font-bold text-white" (click)="clearFilters()">Clear filters</button>
</div>
