<h1 class="text-white text-4xl font-semibold text-start px-14 mt-40 mb-10">
  PC Requirements
</h1>
<div class="flex flex-col justify-center items-stretch gap-5 p-10">
  <div class="flex flex-col items-center gap-5">
    <h1 class="text-white text-2xl font-semibold">Minimum</h1>
    <ng-container *ngIf="noRequirements === ''">
      <p class="text-white text-base font-light ">
        {{ pcRequirements[0].requirements.minimum }}
      </p>
    </ng-container>
    <ng-container *ngIf="noRequirements !== ''">
      <p class="text-white text-base font-light ">
        {{ noRequirements }}
      </p>
    </ng-container>
  </div>
  <hr class="block bg-slate-400 w-full"/>
  <div class="flex flex-col items-center gap-5">
    <h1 class="text-white text-2xl font-semibold">Recommended</h1>
    <ng-container *ngIf="noRequirements === ''">
      <p class="text-white text-base font-light ">
        {{ pcRequirements[0].requirements.recommended }}
      </p>
    </ng-container>
    <ng-container *ngIf="noRequirements !== ''">
      <p class="text-white text-base font-light ">
        {{ noRequirements }}
      </p>
    </ng-container>
  </div>
</div>
